macro_nextoffice: macro_nextoffice{
compatible = "zmk,behavior-macro";
label = "macro_nextoffice";
#binding-cells = <0>;
bindings = <&kt LEFT_CONTROL>, <&kt RIGHT_WIN>, <&kp RIGHT_ARROW>, <&kt LEFT_WIN>, <&kt LCTRL>;
};